@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.container{
  max-width: 1600;
  width: 100%;
  height: 960px;
  margin: 0 auto;
  background-color: #eee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title{
  color: #007FDB;
  font-size: 96px;
  font-weight: bold;
  font-family: 'Inter';
}
.todo-box{
  width: 430px;
  height: 636px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  border: 2px solid red;
}
.img-box {
  width: 430px;
  height: 202px;
  position: relative;
  border: 1px solid black;
}
.img-box img{
  width: 100%;
}
.img-box h2{
  position: absolute;
  bottom: 13px;
  right: 28px;
  font-size: 48px;
  color: #fff;
  font-family: 'Russo One';
  font-weight: 400;
}
.img-box h5{
  position: absolute;
  right: 28px;
  bottom: 66px;
  font-family: 'Russo One';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.note-box {
  width: 373px;
  height: 49px;
 
  margin: 23px auto;
  
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-box input {
  width: 275px;
  height: 100%;
  background-color: #EBEFF2;
  border-radius: 5px;
  border: none;
  outline: none;
}
.note-box button {
  width: 88px;
  height: 100%;
  background-color: #20EEB0;
  border: none;
  border-radius: 5px;
  
}
::placeholder{
  color: #888888;
  font-size: 16px;
  font-family: 'Inter';
}
.result-box {
  width: 373px;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid green;
}
.no-check{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #20EEB0;
  display: flex;
  justify-content: center;
  align-items: center;
}
