@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.container{
  max-width: 1600;
  width: 100%;
  height: 960px;
  margin: 0 auto;
  background-color: #eee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title{
  color: #007FDB;
  font-size: 96px;
  font-weight: bold;
  font-family: 'Inter';
}
.todo-box{
  max-width: 430px;
  width: 100%;
  height: 636px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}
.img-box {
  width: 100%;
  height: 202px;
  position: relative;
 
}
.img-box img{
  width: 100%;
}
.img-box h2{
  position: absolute;
  bottom: 13px;
  right: 28px;
  font-size: 48px;
  color: #fff;
  font-family: 'Russo One';
  font-weight: 400;
}
.img-box h5{
  position: absolute;
  right: 28px;
  bottom: 66px;
  font-family: 'Russo One';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.note-box {
  max-width: 373px;
  width: 100%;
  height: 49px;
  margin: 23px auto;
 
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-box input {
  width: 80%;
  height: 100%;
  background-color: #EBEFF2;
  border: none;
  outline: none;

}
.input-box {
  width: 275px;
  height: 100%;
  background-color: #EBEFF2;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-box button {
  width: 88px;
  height: 100%;
  background-color: #20EEB0;
  border: none;
  border-radius: 5px;
  
}
::placeholder{
  color: #888888;
  font-size: 16px;
  font-family: 'Inter';
  
}
.result-box {
  max-width: 373px;
  width: 100%;
  height: 44px;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10px;
}
.no-check{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #20EEB0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
/* .filter-box {
  width: 86%;
  height: 49px;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;

}
.filter-box button {
  width: 88px;
  height: 100%;
  border: 5px solid blue;
  margin-left: 20px;
  cursor: pointer;
} */
.icon-box {
  width: 62px;
  display: flex;
  justify-content: space-between;
}
.todo-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter";
}
.todo-info h4{
  color: #0D0D0D;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;

}
.todo-info p{
  color: #888888;
  font-size: 14px;
}
.bin {
  width: 20px;
  height: 20px;
}

@media (max-width: 600px){
  .container{
    flex-direction: column;
  }
}
@media (max-width: 375px){
   .img-box h2 {
     bottom: 60px;
   }
   .img-box h5{
    bottom: 120px;
   }
   .title {
    font-size: 50px;
   }
   .note-box, .result-box {
    width: 85%;
   }
}